{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <link rel="icon" type="image/png" sizes="16x16" href={% static 'images/logo.png' %} />
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href={% static 'b5/css/bootstrap.min.css' %}>
  <link rel="stylesheet" href={% static 'css/mdb.min.css' %}>
  {% block title %}
  {% endblock title %}

</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" width="24" height="24">
        Task Mate </a>

      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left links -->
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url 'todo-list' %}>Todo List</a>
          </li>
          <!-- Navbar dropdown -->

          <li class="nav-item">
            <a class="nav-link disabled" href={% url 'contact' %} aria-disabled="true" ">Contact</a>
          </li>
          <li class=" nav-item">
              <a class="nav-link disabled" href={% url 'about' %} aria-disabled="true">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-expanded="false">
            </a>
          </li>
        </ul>
        <!-- Left links -->

        <!-- Search form -->
        <form class="d-flex input-group w-auto">
          {% if user.is_authenticated %}


          <a href="{% url 'logout' %}"> <button class="btn btn-primary" type="button" data-ripple-color="dark">
              Sign Out
            </button> </a>
          {% else %}
          <a href="{% url 'register' %}"> <button class="btn btn-primary mr-1" type="button"
              data-ripple-color="dark">
              Sign Up
            </button> </a>
          <a href="{% url 'login' %}"> <button class="btn btn-secondary" type="button" data-ripple-color="dark">
              Log In
            </button></a>
          {% endif %}

        </form>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>

  {% block content %}

  {% endblock content %}

  <script src="{% static 'b5/js/bootstrap.js' %}"></script>
  <script src="{% static 'js/mdb.min.js' %}"></script>
</body>

</html>